
.userforgetimg {
    background: linear-gradient(to bottom, rgba(195, 20, 50, 0.8), rgba(36, 11, 54, 0.8)),
    url("../assests//adminlogin.avif");
    background-position: center;
    background-size: cover;
    display: flex;
    width:9cm;
    color:whitesmoke;
    height:100vh;
}

#userforgetcontent{

    margin-top: 10%;
    text-align: center;
   
    width:77%;
}

#useremail{
 
    border-color: rgb(241, 238, 238);
    border-top: 0cap;  
    width: 60%;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
}

#userpassword{
   
    border-color: rgb(241, 238, 238);
    border-top: 0cap;
    width: 60%;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;

}

#useremail:hover{

    border-color: rgba(195, 20, 50, 0.8);
}

#userpassword:hover{

    border-color: rgba(195, 20, 50, 0.8);
}

#userlable1{

    margin-right: 55%;
    font-style:normal;
    font-size:17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#userlable2{

    margin-right: 50%;
    font-style:normal;
    font-size:17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#userlable3{

    margin-right: 48%;
    font-style:normal;
    font-size:17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#userbut{

    background-color:rgba(195, 20, 50, 0.8);
    border-color: rgba(195, 20, 50, 0.8);
    width: 60%;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    font-style:normal;
    font-size:17px;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#userforget1{

    font-style:normal;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#userforget2{
    text-align: center;
    margin-top:160%;
}



